@using Blog.Domain.Models.Admin;
@model HomeDataModel;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Panel</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Web Sitesi</a></li>
            <li class="breadcrumb-item active"><a href="/Admin">Panel</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Makale Sayısı <span>| Bugün</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.BlogToday</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Makale Sayısı <span>| Bu Ay</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.BlogMonth</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Makale Sayısı <span>| Tüm Zamanlar</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.BlogAll</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Son Eklenen Makaleler </h5>

                    <div class="activity">

                        @foreach (var item in Model.LastBlogs)
                        {
                            <div class="activity-item d-flex">
                                <div class="activite-label">@item.Day</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    <a href="/blog/@item.Id">@item.Title</a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div><!-- End Recent Activity -->
        </div><!-- End Right side columns -->

    </div>
</section>
